# Chuyển sang "local" để dùng Polling
ENV_MODE=local

# Token bot Telegram của bạn
TELEGRAM_TOKEN="123456:ABC-DEFAOWJac12345678yllft3D79"

# ID Telegram của bạn (để dùng lệnh admin)
ADMIN_ID="987654321"

# API Key cho LLM (báo cáo /report)
GEMINI_API_KEY="AIzaSyBve..."
GEMINI_API_KEY_2="AIzaSy..."
GEMINI_API_KEY_3="AIzaSy..."

# Chuỗi kết nối tới cơ sở dữ liệu
# Ví dụ cho Postgres chạy trên máy bạn:
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/stock_bot_db"

# PORT (không bắt buộc, 10000 là mặc định)
PORT=10000

#Telegram Chat_ID
CHAT_ID=1088200599

PYTHON_VERSION=3.11.11

#Redis Set
#local
REDIS_URL=redis://localhost:6379/0

#product
REDIS_URL="redis://default:*******@redis-18519.crce185.ap-seast-1-1.ec2.cloud.redislabs.com:18519"

REDIS_DEBUG=True
